<h1 id = "title"> Planets </h1>

<input type="text" id="userInput" onkeyup="filter()" placeholder="Search for names..">

<div *ngIf = "planet" >

    <table class = "table table-striped" id = "filterTable">

        <thead class = "thead-dark">
            <th> name </th>
            <th> rotation period </th>
            <th> orbital period </th>
            <th> diameter </th>
            <th> climate </th>
            <th> gravity </th>
        </thead>

        <tbody>
            <tr *ngFor="let planet of planets" >
                <td> {{ planet.name }} </td>
                <td> {{ planet.rotation_period }} </td>
                <td> {{ planet.orbital_period }} </td>
                <td> {{ planet.diameter }} </td>
                <td> {{ planet.climate }} </td>
                <td> {{ planet.gravity }} </td>

            </tr>
        </tbody>
    </table>
</div>



