<h1 id = "title"> People </h1>

<input type="text" id="userInput" onkeyup="filter()" placeholder="Search for names..">

<div *ngIf = "people" >

    <table class = "table table-striped" id = "filterTable">

        <thead class = "thead-dark">
            <th> name </th>
            <th> height </th>
            <th> mass </th>
            <th> hair color </th>
            <th> skin color </th>
            <th> eye color </th>
            <th> birth year </th>
            <th> gender </th>

        </thead>

        <tbody>
            <tr *ngFor="let person of people" >
                <td> {{ person.name }} </td>
                <td> {{ person.height }} </td>
                <td> {{ person.mass }} </td>
                <td> {{ person.hair_color }} </td>
                <td> {{ person.skin_color }} </td>
                <td> {{ person.eye_color }} </td>
                <td> {{ person.birth_year }} </td>
                <td> {{ person.gender }} </td>
            </tr>
        </tbody>
    </table>
</div>



